@use 'component/_tailwind.scss';
@use 'component/_media.scss';
@use 'component/_btn.scss';
@use 'component/_form-check.scss';
@use 'component/_form-control.scss';
@use 'component/_form-help.scss';
@use 'component/_form-inline.scss';
@use 'component/_form-label.scss';
@use 'component/_form-reset.scss';
@use 'component/_form-select.scss';
@use 'component/_intro.scss';
@use 'component/_table.scss';
@use 'component/_zoom-in.scss';
@use 'component/_table-report.scss';
@use 'component/_video-container.scss';
@use 'component/_section-divider.scss';
@use 'component/_box.scss';
@use 'component/_typography.scss';
@use '@vuepic/vue-datepicker/dist/main.css';
/* Google Fonts Imports */
@import url(https://fonts.bunny.net/css?family=montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap);

@layer base {
    :root {
        --color-primary: 26 101 164;
        --color-secondary: 35 31 32;
        --color-alternative: 251 146 60; /* Orange 400 */
        --color-success: 21 128 61; /* Green 700 */
        --color-info: 203 213 225; /* Slate 300 */
        --color-warning: 234 179 8; /* Yellow 500 */
        --color-pending: 203 213 225; /* Slate 300 */
        --color-danger: 220 38 38; /* Red 600 */
        --color-light: 241 245 249; /* Slate 100 */
        --color-dark: 17 24 39; /* Slate 900 */
    }

    .dark {
        --color-primary: 26 101 164; /* Green */
        --color-success: 21 128 61; /* Green 700 */
        --color-info: 100 116 139; /* Slate 700 */
        --color-warning: 234 179 8; /* Yellow 500 */
        --color-pending: 100 116 139; /* Slate 700 */
        --color-light: 30 41 59; /* Slate 800 */
    }

    html {
        font-family: "Montserrat", serif;
        @apply text-lg min-h-screen scroll-smooth;
        & body {
            @apply m-0 antialiased text-sm text-black ;
        }
    }
}
/* Extra Styles */
.text-justify-center {
    @apply text-justify;
    text-align-last: center;
}

.prose {
    max-width: 100% !important;
    & h1, h2, h3, h4, h5, h6, p {
        margin: 1rem 0 0 0 !important;
    }
}



/* Extra Styles */
.text-justify-center {
    @apply text-center;
    text-align-last: center;
}

.section-bg {
    @apply bg-primary bg-blend-multiply bg-fixed bg-center bg-cover;
    //background-image: url('./images/bg/bg.svg');
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.swiper-pagination .swiper-pagination-bullet {
    @apply bg-white opacity-25;
}

.swiper-pagination .swiper-pagination-bullet-active {
    @apply bg-primary opacity-100;
}

.dp__main {
    font-family: 'Lexend', serif;
    @apply text-sm;
}

.dp__calendar {
    @apply text-xs;
}

.dp__range_start {
    @apply rounded-l-full;
}

.dp__range_end {
    @apply rounded-r-full;
}

:focus {
    outline: none !important;
}
