@layer components {
    /* Default Form Select */
    .form-select {
        @apply transition duration-200 ease-in-out w-full text-sm border-slate-200 shadow-sm rounded-md py-2 px-3 pr-8 focus:ring-4 focus:ring-primary focus:ring-opacity-20 focus:border-primary focus:border-opacity-40 dark:bg-slate-800 dark:border-transparent dark:focus:ring-slate-700 dark:focus:ring-opacity-50;
        &:disabled,
        &[readonly] {
            @apply bg-slate-100 cursor-not-allowed dark:bg-slate-800/50;
        }
    }
}

/* Default Sizes */
.form-select-sm {
    @apply text-xs py-1.5 pl-2 pr-8;
}

.form-select-lg {
    @apply text-lg py-1.5 pl-4 pr-8;
}

.vs__dropdown-menu {
    @apply absolute z-40 mt-4 p-3 max-h-52 w-full overflow-x-hidden overflow-y-auto bg-white dark:bg-slate-800 rounded-xl shadow-lg border;
}

.vs__selected-options {
    @apply border-0 grow inset-0;
}

.vs__selected {
    @apply absolute py-1.5 mx-5 inset-0 mr-14 flex items-center space-x-2;
}

.vs--multiple .vs__deselect {
    @apply fill-slate-400;
}

.vs__search {
    @apply rounded-full;
}

.vs--searching .vs__selected,
.vs--open .vs__selected {
    @apply opacity-10 ease-in-out duration-150;
}

.vs--multiple .vs__selected-options {
    @apply flex items-center gap-3;
}

.vs--single .vs__selected-options {
    //@apply flex items-center gap-3
}

.vs__actions {
    @apply fill-slate-400;
}

.vs--open .vs__actions .vs__open-indicator {
    @apply ease-in-out duration-300 rotate-180;
}

.vs__clear {
    @apply absolute right-10;
}

.vs__dropdown-toggle {
    //@apply border border-slate-200 rounded-full shadow-sm;
    @apply flex items-center space-x-2 relative w-full;
}
