.section-top-wave-opacity-divider {
    @apply absolute top-0 left-0 w-full overflow-hidden leading-none;
}

.section-top-wave-opacity-divider svg {
    @apply relative block;
    width: calc(100% + 1.3px);
    height: 100px;
    transform: rotateY(180deg);
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
    .section-top-wave-opacity-divider svg {
        width: calc(100% + 1.3px);
        height: 60px;
    }
}

/** For mobile devices **/
@media (max-width: 767px) {
    .section-top-wave-opacity-divider svg {
        width: calc(100% + 1.3px);
        height: 50px;
    }
}
